body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5B5B5B;
    color: rgb(52, 165, 52);
    font-family: 'Press Start 2P', cursive;
}

canvas{
    border: solid 2px black;
    margin-bottom:10px;
}

#fim{
    width: 200px;
    height: 200px;
    background-color: #5B5B5B;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
    padding-top:10px;
    border: solid 2px black;
    border-radius:5%;
    transition:0.5s;
}

h3{
    color: orange;
}

h3:hover{
    cursor:pointer;
    color:rgb(143, 93, 0);
    transition: 0.5s;
}